name: Build & Test

on:
  push:
    branches-ignore:
      - "main"
      - "maintenance/v*"
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    name: Build and Test (Solr ${{ matrix.solr }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        solr:
          - 9.0.0
          - 9.2.1
          - 9.3.0
          - 9.4.1
          - 9.5.0
          - 9.6.1
          - 9.7.0
          - 9.8.1
          - 9.9.0
          - 9.10.1
        include:
          - solr: 9.10.1
            sonar: enabled
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Java/Maven
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Compile & Test
        run: ./mvnw -V -B --no-transfer-progress
          clean verify
          -Dsolr.version=${{matrix.solr}}
          -Psonarcloud
          -Dsonar.projectKey=redlink-gmbh_solr-advanced-suggester
          -Dsonar.skip=${{ github.actor == 'dependabot[bot]' || matrix.sonar != 'enabled' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Upload Test-Results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: Test Results (Solr ${{matrix.solr}})
          path: '**/TEST-*.xml'

  test-results:
    name: Test Results
    needs: [ build ]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Fetch Test-Results
        uses: actions/download-artifact@v7
        with:
          path: test-results
      - name: Report Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: 'test-results/**/TEST-*.xml'
          action_fail: 'true'
          action_fail_on_inconclusive: 'true'
